.dateHeader{
    		height: 10.8rem;
    		background: #FFFFFF;
    	}
    	.dateUl{
    		height: 10.8rem;	
    	}
    	.dateUl>.dateLi{
    		height: 10.8rem;
    		width: 14%;
    		float: left;
    	}
    	.dateUl>.dateLi:nth-child(1){
    		margin-left:1% ;
    	}
    	.dateUl>.dateLi>.dateWeek{
    		color:rgb(202,176,114);
    		margin-top: 1rem;
    	}
    	.dateUl>.dateLi>.dateData{
    		height: 2.5rem;
    		width: 2.5rem;
    		margin: 0 auto;
    		line-height: 2.5rem;
    		border-radius: 50%;
    	}
    	.dataActive{
    		background: rgb(202,176,114);
    		color:#FFFFFF;
    	}
    	.dataBorder{
    		border:1px solid rgb(202,176,114);
    	}
    	.dateTime{
    		background: #FFFFFF;
    		border-top: 1px solid rgba(202,176,114,.5);
    	}
    	.dateTimeUl>.dateTimeLi{
    		margin: 1rem;
    		text-align: left;
    		display: inline-block;
    	}
    	.dateTimeUl>.active>a{
    		background:rgb(202,176,114)!important;
    		color:#FFFFFF;
    	}
    	.dateTimeUl>.dateTimeLi>a{
    		border:1px solid rgb(202,176,114);
    		padding:1rem 2.4rem;
    	}
    	.dateTimeUl>.dateTimeLiActive>a{
    		background: rgb(202,176,114);
    		color: #FFFFFF;
    	}
    	.softAddress>p{
    		text-align: left;
    		padding-left: 1rem;  		
    		color:#000000;
    	}
    	.softAddress>p:nth-child(1){
    		height: 3rem;
    		line-height: 3rem;
    	}
    	.softAddress>.softAddressMessage{
    		background: #FFFFFF;
    		padding: 1.2rem 1rem;
    	}
    	#Add{
    		width: 90%;
			height: 3.8rem;
			margin-left: 5%;
			margin-top: 2.2rem;
			background: rgb(202,176,117);
			line-height: 1rem;
			font-size: 1.4rem;
			height: 3.8rem;
			color:#FFFFFF;
			border: none;
    	}